.idea
backend/.idea
interface/.idea

backend/config/config.yml
backend/config/config.dev.yml

interface/config/config.json
interface/config/config.dev.json

interfaces/node_modules

__pycache__/
*.py[cod]

npm-debug.log

*.sqlite

backend/.ipynb_checkpoints/
*.ipynb

ghostdriver.log
